@model LancheListViewModel 


<div>
    <h2>@Model.CategoriaAtual</h2>
</div>

<div class="container">
    <div class="row">

        @foreach(var lanche in Model.Lanches) //foreach percorrerá toda a coleção de lanches e os exibirá na lista
        {
            <partial name="_LanchesResumo" for="@lanche"/>
        }
  
    </div>
</div>